{% macro render_entry(entry) %}
<div class="row">
    <div class="col-md-2 text-right metadata">
        <ul class="list-unstyled">
            <li>
                {{ entry.datetime | dateformat("%m/%d/%y") }}
            </li>
        </ul>
    </div>
    <div class="col-md-10">
        <h1>
            <a href="/entry/{{ entry.id }}">{{ entry.title }}</a>
        </h1>
        <h5>
            Posted by {{ entry.author.name }}
        </h5>
        {{ entry.content | markdown }}
        <div class="display: inline-block; text-left spacing: 2px">
            <h6>
                <a href="/entry/{{ entry.id }}/edit">Edit</a>
                <a href="/entry/{{ entry.id }}/delete">Delete</a>
            </h6>
        </div>
    </div>
    
</div>
{% endmacro %}

{% macro render_entry_text(entry) %}
<div class="row">
    <div class="col-md-10">
        <h1>
            <a href="/entry/{{ entry.id }}">{{ entry.title }}</a>
        </h1>
        {{ entry.content | markdown }}
    </div>
    
</div>
{% endmacro %}